
.mydropdown ul{
    width: 98%;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    position: absolute;
    list-style: none;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    max-height: 150px;
    max-width: 180px;
    border: 0.8px solid rgb(206, 206, 206);
    display: none;
    font-size: 13px;
    scrollbar-width:thin;
    
}

.mydropdown ul.show{
    display: block;
}

.mydropdown li{
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    cursor: pointer;
    text-overflow: ellipsis;
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
}

.mydropdown li:hover{
    background-color: #0090f1;
    color: white;
}

.mydropdown span.rotate{
    transform: rotate(90deg)
}
.mydropdown span:hover{
    background-color: #171717;
    cursor: pointer;
}


.codicon--chevron-right {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10.072 8.024L5.715 3.667l.618-.62L11 7.716v.618L6.333 13l-.618-.619z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }